<%=	link_to 'Back', doctor_path(@user.id), class: "btn btn-primary btn-lg" %>

<section>
  <h1 class="display-3 text-center">Add a new prescription</h1>


  <h2 class="font-italic">Prescript</h2>
  <p class="font-italic p-4 alert-warning">Write your prescript for patient: <strong><%= @appointment.user.full_name %></strong></p>
  <%= form_with model: @prescription, url: prescriptions_path, class: "left" do |form| %>
    <%= form.hidden_field :appointment_id,  value: @appointment.id%>  <br>
    <%#= form.label :prescript, class: "m-1", placeholder: 'Prescript' %> <br>
    <%= form.text_area :prescript , cols: 30, rows: 10, class: 'form-control', id: 'Prescript' %> <br>
    <%= form.submit "Submit", class: 'btn btn-primary btn-lg ' %>
  <% end %>
</section>