<h1 class="display-3 text-center main-title mt-4">Patients Public Page</h1>

<ul class="navbar-nav mt-5 text-right">
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-lg') %>
    </li>
  <% elsif admin_user_signed_in? %>
    <li class="nav-item">
      <%= link_to('Logout', destroy_admin_user_session_path, method: :delete, class: 'btn btn-primary btn-lg') %>
    </li>
  <% elsif doctor_signed_in? %>
    <li class="nav-item">
      <%= link_to('Logout', destroy_doctor_session_path, method: :delete, class: 'btn btn-primary btn-lg') %>
    </li>
  <% end %>
</ul>
<div class="row featurette card-body mt-4">
  <div class="col-md-7">
    <h2 class="featurette-heading">Hello Dear <%= current_user.full_name%> <span class="text-muted">It'll blow your mind.</span></h2>
    <p class="lead">For more than 100 years, Our Medical Center has been driven by a commitment to care for all people, regardless of their ability to pay, providing not only traditional medical care, but also programs and services that wrap around that care to enhance overall health. All of this supports our mission to provide exceptional care, without exception. </p>
    <div class="custom-btn-image">
      <%= link_to "Enter Your Profile", user_path(@user), class: "btn btn-success btn-lg text-white" %>
    </div>
  </div>
  <div class="col-md-5">
    <%= image_tag "user-empty.png", height: 400, class: 'login-img' %>
    <div class="">
      <%= link_to "Upload image", user_path(@user), class: "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>

</div>