<h1 class="mt-4">Patients<span class="subtitle-patient">(users)</span></h1>

<table class="table">
  <thead>
  <tr>
    <th>
      ID
    </th>
    <th>
      Name
    </th>
    <th>
      Lastname
    </th>
    <th>
      Doctors
    </th>
    <th>
      Actions
    </th>

  </tr>
  </thead>
  <tbody>
  <% @patients.each do |patient| %>
    <tr>
      <td>
        <%= patient.id %>
      </td>
      <td>
        <%= patient.first_name %>
      </td>
      <td>
        <%= patient.last_name %>
      </td>
      <td>
        <%= patient.doctors[0]&.first_name%>
        <%= patient.doctors[1]&.first_name%>
        <%= patient.doctors[2]&.first_name%>
        <%= patient.doctors[3]&.first_name%>
      </td>
      <td>
        <%= link_to('Show', patient_path(patient), class: 'btn btn-primary') %>
        <%# if user_signed_in? && policy(word).edit? && policy(word).destroy? %>
        <%= link_to('Edit', edit_patient_path(patient), class: 'btn btn-warning') %>
        <%= link_to('Delete', patient_path(patient), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure you want to delete this post'},) %>
        <%# end %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>

<div class="card-group">
  <div class="card mb-3" style="max-width: 650px;">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag "doc.png", height: 180 %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Patient: Jon Snow </h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 650px;">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag "biplane.svg", height: 180 %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Patient: John Doe</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 13 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= paginate @patients %>