<h1 class="mt-4">Doctors<span class="subtitle-patient">(medical staff)</span></h1>

<table class="table">
  <thead>
  <tr>
    <th>
      ID
    </th>
    <th>
      Name
    </th>
    <th>
      Lastname
    </th>
    <th>
      Patients
    </th>
    <th>
      User(main)
    </th>
    <th>
      City
    </th>
    <th>
      Primary Practice
    </th>
    <th>
      Actions
    </th>

  </tr>
  </thead>
  <tbody>
  <% @doctors.each do |doctor| %>
    <tr>
      <td>
        <%= doctor.id %>
      </td>
      <td>
        <%= doctor.first_name %>
      </td>
      <td>
        <%= doctor.last_name %>
      </td>
      <td>
        <%= doctor.patients[0]&.first_name%>
        <%= doctor.patients[1]&.first_name%>
        <%= doctor.patients[2]&.first_name%>
        <%= doctor.patients[3]&.first_name%>
      </td>
      <td>
        <%#= doctor.user&.email %>
      </td>
      <td>
        <%= doctor.city %>
      </td>
      <td>
        <%= doctor.primary_practice %>
      </td>
      <td>
        <%= link_to('Show', doctor_path(doctor), class: 'btn btn-primary') %>
        <%# if user_signed_in? && policy(word).edit? && policy(word).destroy? %>
        <%= link_to('Edit', edit_doctor_path(doctor), class: 'btn btn-warning') %>
        <%= link_to('Delete', doctor_path(doctor), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure you want to delete this post'},) %>
        <%# end %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>
<div class="card-group">
  <div class="card mb-3" style="max-width: 650px;">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/en/thumb/0/0b/HouseGregoryHouse.png/250px-HouseGregoryHouse.png", height: 180 %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 650px;">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Jameswilsonpromoseason6.jpg/220px-Jameswilsonpromoseason6.jpg", height: 180 %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">

  <div class="card-body">
    <h5 class="card-title">Doctors Information</h5>
    <p class="card-text">House is often filmed using the "walk and talk" filming technique,[8][19] popularized on television by series such as St. Elsewhere, ER, Sports Night, and The West Wing.[68] The technique involves the use of tracking shots, showing two or more characters walking between locations while talking.[68] Executive producer Katie Jacobs said that the show frequently uses the technique because "when you put a scene on the move, it's a ... way of creating an urgency and an intensity".[8] She noted the significance of "the fact that Hugh Laurie spans 6'2" and is taller than everybody else because it certainly makes those walk-and-talks pop".[8] Nancy Franklin of The New Yorker described the show's "cool, Fantastic Voyage–like special effects of patients' innards. I'll bet you didn't know that when your kidneys shut down they sound like bubble wrap popping."[69] "Cameras and special effects travel not only down the throat" of one patient, another critic observed, "but up her nose and inside her brain and leg".[70] Instead of relying primarily on computer-generated imagery, the interior body shots tend to involve miniature effects and motion control photography.[36] Many of the sets are dressed with a variety of unscripted props that allow Laurie to physically improvise, revealing aspects of his character and the story.[8]

      The pilot episode was filmed in Vancouver; primary photography for all subsequent episodes took place on the Fox lot in Century City, Los Angeles.[38] Bryan Singer chose the hospital near his hometown, West Windsor, New Jersey, as the show's fictional setting.[14] Princeton University's Frist Campus Center[d] is the source of the aerial views of Princeton–Plainsboro Teaching Hospital seen in the series.[72] Some filming took place at the University of Southern California for the season-three episode "Half-Wit", which guest-starred Dave Matthews and Kurtwood Smith.[73] Part of House's sixth season was filmed at the abandoned Greystone Park Psychiatric Hospital, in Parsippany-Troy Hills, New Jersey, as the fictional Mayfield Psychiatric Hospital.[74]</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>



<%= paginate @doctors %>