<h1 class="mt-4">Doctors<span class="subtitle-patient">(medical staff)</span></h1>

<table class="table">
  <thead>
  <tr>
    <th>
      ID
    </th>
    <th>
      Name
    </th>
    <th>
      Lastname
    </th>
    <th>
      Patients
    </th>
    <th>
      Actions
    </th>

  </tr>
  </thead>
  <tbody>
  <% @doctors.each do |doctor| %>
    <tr>
      <td>
        <%= doctor.id %>
      </td>
      <td>
        <%= doctor.first_name %>
      </td>
      <td>
        <%= doctor.last_name %>
      </td>
      <td>
        <%= doctor.patients[0]&.first_name%>
        <%= doctor.patients[1]&.first_name%>
        <%= doctor.patients[2]&.first_name%>
        <%= doctor.patients[3]&.first_name%>
      </td>
      <td>
        <%= link_to('Show', doctor_path(doctor), class: 'btn btn-primary') %>
        <%# if user_signed_in? && policy(word).edit? && policy(word).destroy? %>
        <%= link_to('Edit', doctor_path(doctor), class: 'btn btn-warning') %>
        <%= link_to('Delete', doctor_path(doctor), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure you want to delete this post'},) %>
        <%# end %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>
<div class="card-group">
  <div class="card mb-3" style="max-width: 650px;">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/en/thumb/0/0b/HouseGregoryHouse.png/250px-HouseGregoryHouse.png", height: 180 %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 650px;">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Jameswilsonpromoseason6.jpg/220px-Jameswilsonpromoseason6.jpg", height: 180 %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">

  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>



<%#= paginate @users %>